addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - g++-5
            - gcc-5

language: cpp
compiler: gcc

script: cd ./ural_test && make -f makefile.gcc release
